{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1 class="text-center"><span>Welcome to</span> {{ block('title') }}</h1>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
