{% extends 'base.html.twig' %}

{% block body %}
    <h1>order creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-lg btn-primary fa fa-plus element-top-20" type="submit" value="&#xf067; Create" />
    {{ form_end(form) }}

   
{% endblock %}
