{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Export products list</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Crée le</th>
                    <th>Fichier</th>
                </tr>
             </thead>
            <tbody>
            {% for exportProduct in exportProducts %}
                <tr>
                    
                    <td>{% if exportProduct.createdAt %}{{ exportProduct.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td> 
						<a href="{{ app.request.getBaseURL() }}/{{ exportProduct.file }}" target="_blank">
							<i class="fa fa-fw fa-download"></i> Télcharger
						</a>
					</td>
                    
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
